n8n-workflows/email-to-ticket-fixed.json
{
  "name": "Email to Ticket - Simple",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders/inbox/messages?$filter=isRead eq false&$top=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphOAuth2Api",
        "options": {}
      },
      "id": "get-emails",
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Classify this email as: SUPPORT_REQUEST, VENDOR_EMAIL, or UNCERTAIN. Respond with JSON: {\\\"classification\\\": \\\"...\\\", \\\"confidence\\\": 0-100, \\\"reason\\\": \\\"...\\\", \\\"priority\\\": \\\"low|normal|high\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"From: {{ $json.from.emailAddress.address }}\\nSubject: {{ $json.subject }}\\nBody: {{ $json.bodyPreview }}\"\n    }\n  ],\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "classify-email",
      "name": "AI Classify Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-header-auth",
          "name": "OpenAI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ JSON.parse($json.choices[0].message.content).classification }}",
              "operation": "equals",
              "value2": "SUPPORT_REQUEST"
            }
          ]
        }
      },
      "id": "check-classification",
      "name": "Is Support Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/tickets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $('Get Unread Emails').item.json.subject }}\",\n  \"description\": \"{{ $('Get Unread Emails').item.json.bodyPreview }}\",\n  \"requesterEmail\": \"{{ $('Get Unread Emails').item.json.from.emailAddress.address }}\",\n  \"priority\": \"{{ JSON.parse($('AI Classify Email').item.json.choices[0].message.content).priority || 'NORMAL' }}\",\n  \"source\": \"email\"\n}",
        "options": {}
      },
      "id": "create-ticket",
      "name": "Create Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "helpdesk-api-auth",
          "name": "helpdesk-api-auth"
        }
      }
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "AI Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify Email": {
      "main": [
        [
          {
            "node": "Is Support Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Support Request?": {
      "main": [
        [
          {
            "node": "Create Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
